* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    color: #111827;
    line-height: 1.6;
}

.nav {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #e5e7eb
   
}

.container-nav {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    /* border: 1px solid black; */
}

.logo {
    color: rgb(37, 99, 235);
    font-weight: 700;
    font-size: 20px;
}

ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 20px;
    text-align: center;
    
}

li a{
    text-decoration: none;
    color: rgb(17, 24, 39);
}

.btn {
    background-color: rgb(37, 99, 235);
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    font-weight: 600;
}

.hero {
    background-color: #f9fafb;
    padding: 80px 20px;
}

.container-hero {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.hero-text {
    flex: 1 1 450px;
}

.hero-text h1 {
    color: rgb(17, 24, 39);
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 16px;
}

.hero-text p {
   color: rgb(107, 114, 128);
   font-size: 1.1rem;
   margin-bottom: 24px;
}

.hero-image {
    flex: 1 1 400px;
    text-align: center;
}

.hero-image svg {
    max-width: 520px;
    height: auto;
   
}

.features {
    background-color: white;
    padding: 80px 20px;
    text-align: center;
   
}

.feature-grid {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.container-feature h2 {
    font-size: 2rem;
    font-weight: 700;
    color: rgb(17, 24, 39);
    margin-bottom: 10px;
}

.subtext {
    color: rgb(107, 114, 128);
    margin-bottom: 50px;
}

.feature-card {
    background-color: rgb(249, 250, 251);
    border-radius: 16px;
    padding: 32px 24px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;
    transition: transform 0.2s ease;
}

.feature-card:hover {
    transform: translateY(-5px);
}

.feature-card h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  color: rgb(31, 41, 55);
}

.feature-card p {
  color: rgb(107, 114, 128);
  font-size: 0.95rem;
}

.feature-card svg { display:block; margin: 0 auto 20px; }






